{% extends 'webapp/base.html' %}
{% block content %}

<form method="POST" novalidate>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    {% csrf_token %}
    <h2>Login</h2>
    {{form.as_p}}
    <input type="submit" value="Login" />
    <p><a href="{% url 'webapp:register' %}">Register Here.</a></p>
</form>

{% endblock %}