{% extends 'webapp/base.html' %}

{% block content %}

<form method="POST" novalidate>
    {% csrf_token %}
    <h2>Register</h2>
    {% for field in form %}
    <p>
        {% if field.errors %}
        <ul class="errorList">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ field.label_tag }} {{ field }}
    </p>
    {% endfor %}
    <input type="submit" value="Register" />
    <p>If registered <a href="{% url 'webapp:login' %}">login here.</a></p>
</form>

{% endblock %}